{% extends "base/base.html" %}
{% block titulo %}Login nuevo{% endblock %}
{% block contenido %}
{% block tituloBarra %} LOGIN {% endblock %}

    <h2>Ingresa tus datos</h2>

    <br><br>
		{% if msj %}
				<div>{{ msj }}</div>
		{% endif %}

    <form method="post" action="{% url 'persona:login' %}" style="display: grid; align-items: center; justify-content: center;">
				{% csrf_token %}
        <div class="mb-3">
          <input type="text" class="form-control" id="floatingInputGroup1" placeholder="Usuario" required>
        </div>
        <div class="mb-3">
          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Contraseña" required>
        </div>
        <br><br>
        <button type="submit" class="btn btn-primary">Ingresar</button>
    </form>
{% endblock %}