{% extends "base/base.html" %}
{% block titulo %}Evaluar Proyecto{{ proyecto.titulo_ptf }}{% endblock %}
{% block contenido %}
  <br>
  <br>
  <br>
  <h2>Evaluación del Proyecto {{ proyecto.titulo_ptf }}</h2>

  <form method="post" action="{% url 'evaluacion:evaluacionPTF_create'%}">
    {% csrf_token %}
    {{ form.as_p }}

    <button type="submit">Evaluar Proyecto</button>
  </form>

  <script>
    // Obtener el campo de estado y el campo de observaciones por su id
    var estadoSelect = document.getElementById("id_estado");
    var observacionesTextarea = document.getElementById("id_observaciones");

    // Función para habilitar o deshabilitar el campo de observaciones según el estado seleccionado
    function habilitarObservaciones() {
      if (estadoSelect.value === "observado") {
        observacionesTextarea.disabled = false;
      } else {
        observacionesTextarea.disabled = true;
      }
    }

    // Llamar a la función al cargar la página y cuando se cambie el estado seleccionado
    habilitarObservaciones();
    estadoSelect.addEventListener("change", habilitarObservaciones);
  </script>
{% endblock %}